 body  {
    background-image: url("../png/back3.jpg") !important;
    background-size: cover;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: #9b6565;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00f7ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Zagolovok {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.nav {
    display: flex;
    justify-content: center;
  }
  
  .nav-link {
    position: relative;
    display: inline-flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.875rem;
    color: inherit;
  }
  
  .nav-link-title {
    position: relative;
  }
  
  /* Pills */
  
  .nav-link-pill {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  
  .nav-link-pill::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: gainsboro;
    border-radius: .25rem;
    opacity: 0;
    visibility: hidden;
    transition-property: visibility, opacity, transform;
    transition-duration: 0.25s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .nav-link-pill::before {
      transition: none;
    }
  }
  
  .nav-link:hover > .nav-link-pill::before {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-link:has(~ .nav-link:hover) > .nav-link-pill::before {
    opacity: 1;
    transform: translateX(100%);
  }
  
  .nav-link:hover ~ .nav-link > .nav-link-pill::before {
    opacity: 1;
    transform: translateX(-100%);
  }
  
  .nav-link:has(~ .nav-link + .nav-link:hover) > .nav-link-pill::before {
    transition: none;
  }
  
  .nav-link:hover + .nav-link ~ .nav-link > .nav-link-pill::before {
    transition: none;
  }
