body {
    padding: 0;
    margin: 0;
    background-image: url("../png/fon.jpg");
    background-size: cover;
  }



h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    text-shadow:
      1px 1px rgb(36, 76, 102),
      2px 2px #0778a5;
    color: #356add;
    transition: all 1s;
  }
H2 {
    text-align: center;
    display: inline-block;
    text-shadow:
      1px 1px 1px rgb(171, 89, 209),
      1px -1px 1px rgb(171, 89, 209),
      -1px 1px 1px rgb(171, 89, 209),
      -1px -1px 1px rgb(171, 89, 209);
    color: rgb(165, 92, 214);
    transition: all 1s;
  }
H2:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid rgb(111, 44, 131);
    bottom: .15em;
    transition: all 1s;
  } 
H2:hover:after {
    width: 0%;
    border-bottom-width: 1px;
  }



.fade-in {
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 1s; /* длительность анимации в 1 секунду */
    color: #23beb7;
    width: 100px;
    height: 25px;
  }
.fade-in2 {
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 2s; /* длительность анимации в 1 секунду */
    color:#bfca29;
    width: 100px;
    height: 25px;
  }
.fade-in3 {
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 3s; /* длительность анимации в 1 секунду */
    color: #b37c16;
    width: 100px;
    height: 20px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.list {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}



.progresscss {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }
.progresshtml {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }
.progressjs {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }
  
.progress-valuecss {
    animation: loadcss 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #23beb7;
    height: 30px;
    width: 0;
    text-align: center;
    font-size: 20px;
  }
  .progress-valuehtml {
    animation: loadhtml 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #bfca29;
    height: 30px;
    width: 0;
  }
  .progress-valuejs {
    animation: loadjs 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #b37c16;
    height: 30px;
    width: 0;
  }

@keyframes loadcss {
    0% { width: 0; }
    100% { width: 70%; }
  }
@keyframes loadhtml {
    0% { width: 0; }
    100% { width: 25%; }
  }
@keyframes loadjs {
    0% { width: 0; }
    100% { width: 5%; }
  }
 
.a1, .a2, .a3 {
    animation: fadeIn 3s normal forwards;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
.h3 {
    animation: fadeIn 3s normal forwards;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }