.salam {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 100px 300px;
    margin: 0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    text-align: center;
  }
  .salam:hover {
    background-position: right center;
  }