* {box-sizing: border-box;}
html,
body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: radial-gradient(at 1.9347674151315886% 2.89496993481837%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 75.93385183074824% 61.31083729003277%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 1) 0%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 0) 100%), radial-gradient(at 45.22420995910961% 96.5701457845%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 1) 0%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 0) 100%), radial-gradient(at 20.21542479413767% 84.52934568844775%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 42.008092056569964% 49.67214915074825%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 8.694142611958465% 43.923327132914224%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 1) 0%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 0) 100%), radial-gradient(at 96.43732911709957% 57.39582172641305%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 1) 0%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 0) 100%), radial-gradient(at 43.629068498536206% 55.31987204701569%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 0.40161236232731934% 14.88541630236524%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}
.homepage {
  background-color: #7a00ff;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #b6d3df;
  padding: 20px 10px;
}
.wrap-logo {
  display: flex;
  align-items: center;
}
header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}
header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.contact a:hover {
  background-image: linear-gradient(#2E9AFF, #F498AD);
  background-size: 100% auto;
  transition: .5s;
  color: #000000;
}
nav {
  display: flex;
  align-items: center;
  }

#footer {
    margin-top: -50px;
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 80%;
    float: left;
    color: #fff;
    box-shadow: 0px 0px 16px #000;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 99;
    transition: margin-top 0.5s, height 0.5s;
  }

  #footer-open {background-color: coral; padding: 5px; position: absolute; cursor: pointer;}
  .open3 {margin-top: -150px !important; height: 150px !important;}
#footer-open {
    padding-top: 10px;
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
    -webkit-transition: color 0.5s ease 0s, background-color 0.5s ease 0s;
}

#footer-open:after {content: "открыть"; position: relative;}
.footer-open-open {display:block;}
.footer-open-open:after {content: "закрыть" !important; position: relative !important;}