* {box-sizing: border-box;}
html,
body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: radial-gradient(at 1.9347674151315886% 2.89496993481837%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 75.93385183074824% 61.31083729003277%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 1) 0%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 0) 100%), radial-gradient(at 45.22420995910961% 96.5701457845%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 1) 0%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 0) 100%), radial-gradient(at 20.21542479413767% 84.52934568844775%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 42.008092056569964% 49.67214915074825%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 8.694142611958465% 43.923327132914224%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 1) 0%, hsla(199.88165680473372, 81.6425120772947%, 59.411764705882355%, 0) 100%), radial-gradient(at 96.43732911709957% 57.39582172641305%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 1) 0%, hsla(218.0689655172414, 75.12953367875646%, 62.15686274509804%, 0) 100%), radial-gradient(at 43.629068498536206% 55.31987204701569%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(242.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%), radial-gradient(at 0.40161236232731934% 14.88541630236524%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 1) 0%, hsla(182.7906976744186, 69.72972972972971%, 63.725490196078425%, 0) 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}
.homepage {
  background-color: #7a00ff;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #b6d3df;
  padding: 20px 10px;
}
.wrap-logo {
  display: flex;
  align-items: center;
}
header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}
header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.contact a:hover {
  background-image: linear-gradient(#2E9AFF, #F498AD);
  background-size: 100% auto;
  transition: .5s;
  color: #000000;
}
nav {
  display: flex;
  align-items: center;
  }
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.wrapper {
  height: 1111px;
}

body{
background-color:#8f85ff;
font-family: PT Astra Sans;
text-align:center;
color:#e8e6fc;
}
.footer #block{
position:relative;
margin-top:2px;
width:99,99%;
 height:99%;
background: #120f2b;
}
 
.footer #text{
  Position: relative;
  right:201px;
  width:123px;
margin:14 auto;
 top:-51px;
}

.footer1{
            float:left;
    width:499px;
    }

.footer h1{
   color: #ffc9c9;
   font-family: PT Astra Sans;
   margin-top:69px;
   margin-left:39px;  
}
.footer #knopka{
    width:50px;
    height:50px;
    border: #d41542 8px dashed;
    margin:-3 auto;
    position:center;

}
.footer #knopka:hover{
    width:50px;
    height:50px;
    border: #d41542 8px dashed;
}
.footer {
    position: fixed;
    right:0;
    bottom:0;
    width: 99%;
    height: 2em;
    overflow:hidden;
    transition: all 2s ease;

}
.footer:hover {
    transition: all 2s ease;
    height: 9em;
}